* {
    border: none;
    /* background-color: transparent; */
    background: none;
    padding: 0;
    margin: 0;
    color: #fff;
}
QMainWindow,
QMainWindow#admin-window,
QWidget#window-item,
QWidget#window-items {
    background-color: #121212;
}
QWidget#sidebar {
    border-right: 1px solid #282828;
}
QWidget#titleBar {
    /* border-bottom: 1px solid #282828; */
}
QWidget#Title {
    background-color: blue;
}
QWidget#scrollWidget {
    background-color: #0B0A0B;
}
QPushButton#ItemBtn {
    text-align: left;
    padding: 8px 10px;
    border-radius: 8px;
}
QPushButton#ItemBtn:hover {
    background-color: #191919;
}
QPushButton#buttonBorder {
    text-align: center;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid red;
    color: white;
}
QPushButton#buttonBorder:hover {
    background-color: red;
}
QLabel#logoText {
    color: red;
}
QLabel#historyText {
    text-align: left;
}
QLabel#historyTitle {
    color: red;
}
QFrame#footer {
    border-top: 1px solid #282828;
    padding-top: 5px;
}
QFrame#historyItem {
    border-radius: 12px;
}
QFrame#resultGrid:hover,
QFrame#historyItem:hover {
    background-color: #191919;
}
QFrame#historyItemTitle {
    border-bottom: 1px solid #282828
}
QFrame#item,
QPushButton#item,
QLabel#item {
    background-color: red;
}
QScrollBar:vertical {
    border: 2px solid #1a0b0b;
    background-color: #141010;
    width: 10px;
}
QScrollBar::handle:vertical {
    min-height: 0px;
    border: 0px solid #0B0A0B;
    border-radius: 10px;
    background-color: #282828;
}
QScrollBar::add-line:vertical {
    height: 0px;
    subcontroll-position: bottom;
    subcontroll-origin: margin;
    border: none;
    background-color: none;
}
QScrollBar::sub-line:vertical {
    height: 0px;
    subcontroll-position: top;
    subcontroll-origin: margin;
    border: none;
    background-color: none;
}
QScrollArea,
QScrollBar {
    background-color: transparent;
}
QPlainTextEdit#window-input {
    border: none;
    background-color: transparent;
}

QWidget#title {}
QFrame#title_text {}
QLabel#title_text_value {
    color: #E1E1E1;
}

QPushButton#button_border {
    border: 1px solid #81032B;
    border-radius: 8px;
    padding: 10px;
}
QPushButton#button_border:hover {
    background-color: #81032B;
}
QPushButton#button_fill {
    border: 1px solid #81032B;
    border-radius: 8px;
    padding: 10px;
    background-color: #81032B;
}
QPushButton#button_fill:hover {
    background-color: #971841;
}
QPushButton#button_default {
    padding: 10px;
    opacity: .8;
}
QPushButton#button_default:hover {
    opacity: 1;
}


QWidget#item_window {
    background-color: #1D1D1D;
}
QWidget#item_content {
    background-color: transparent;
}
QWidget#item_tools {}
QWidget#item_tools_button {}
QWidget#item_data {
    background-color: transparent;
}
QWidget#item_data_content {
    background-color: transparent;
}
QWidget#item_apply {}

QFrame#inputs_line_edit {}
QLineEdit#inputs_line_edit_area {
    background-color: transparent;
    border-bottom: 1px solid #E1E1E1;
    padding: 0 4px;
}
QLable#inputs_text_edit_value {}
QFrame#inputs_text_edit {}
QTextEdit#inputs_text_edit_area {
    background-color: transparent;
}
QWidget#inputs_window {
    background-color: #1D1D1D;
}
QTextEdit#inputs_window_text_edit {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #971841;
    padding: 4px;
}
QWidget#inputs_window_buttons {}
QWidget#inputs_color_edit {}
QPushButton#inputs_color_edit_button {
    padding: 10px;
}
QFrame#inputs_window_color_edit_container {
    background-color: #303030;
    border-radius: 8px;
}
QFrame#inputs_window_color_edit_picker {}
QLabel#inputs_window_color_result {
    border-bottom: 1px solid #E1E1E1;
    padding: 0 4px;
}
QSlider#inputs_window_color_slider_1::groove:horizontal {
    background:qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #000 , stop:1 #fff,);
    height: 10px;
}
QSlider#inputs_window_color_slider_1::handle:horizontal {
    background-color: #ffffff;
    width: 8px;
    margin: -6px 0;
    border-radius: 8px;
}
QSlider#inputs_window_color_slider_2::groove:horizontal {
    height: 10px;
    border-radius: 8px;
}
QSlider#inputs_window_color_slider_2::handle:hroizontal {
    background-color: #ffffff;
    width: 8px;
    margin: -6px 0;
    border-radius: 8px;
}
QFrame#inputs_window_urls_container {
    background-color: #303030;
    border-radius: 8px;
}